:root{
    --text-user-color: brown;
}
.container{
    height: 100vh;
    padding: 30px 50px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}
.message-container{
    width: 710px;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid grey;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 15px;
}
.message-input{
    border: 1px solid cornflowerblue;
    background-color: rgb(246, 252, 252);
    padding: 5px 20px;
    border-radius: 9px;
    width: 640px
}
.message-input:focus{
    background-color: rgb(255, 252, 249);
    border: 1px solid rgb(255, 189, 163);
    color: blueviolet;
}
.bttn-send{
    padding: 5px 15px;
    border-radius: 9px;
    border: 1px solid  rgb(161, 71, 245);
    background-color: rgb(202, 154, 247);
    color: rgb(255, 252, 249);
}
.bttn-send:hover{
    background-color: rgb(152, 75, 224);
}
.connected{
    color:green;
}
.message{
    color: var(--text-user-color);
    margin-bottom: 3px; 
}
